.red { 
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.pantone purple {
    color: pantone purple;
}
.brickred {
    color:  #FF6319;
}
.lightgreen {
    color: #6CBE45;
}
.nqr {
    color: #FCCC0A;
}
.s {
    color: #808183;
}
.jz {
    color: #996633;
}
.l {
    color: #A7A9AC;
}